* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: black;
    background-image: url("image.jpg");
    background-size: 1000px;
    background-repeat: repeat;
    image-rendering: pixelated;
    color: white;
}

h1 {
    margin: 20px;
    font-size: 80px;
    text-align: center;
    margin-top: 80px;
}

.gif {
    display: block;
    width: 300px;
    margin: 20px auto;
}